{% extends "base.html" %}

{% block content %}
<div class="col-md-offset-4 col-md-4">
<form class="form-horizontal" action="{% url 'login' %}?redirect_to={{ request_path_for_redirect }}" method="post" role="form">
    {% csrf_token %}
    {% if error %}
        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <div class="form-group has-error">
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      {{ error }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for field in form %}
            <div class="form-group">
                <div class="col-md-offset-1 col-md-8">
                    <label for="{{ field.id }}" class="control-label">{{ field.label_tag }}</label>
                    <div>
                        {% if field.name == "username" %}
                            <input class="form-control" type="text" name="{{ field.name }}" id="{{ field.id }}">
                        {% else %}
                            <input class="form-control" type="password" name="{{ field.name }}" id="{{ field.id }}">
                        {% endif %}
                        <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
            </div>
    {% endfor %}
        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <input type="submit" class="btn btn-primary btn-block" value="Login" />
            </div>
        </div>
    <input type="hidden" name="next" value="{% url 'dashboard' %}" />
</form>
</div>
{% endblock %}