body {
    padding-top: 60px;
}

.main {
    display: inline-flex;
    margin: 0 auto;
}

.info {
    margin-left: 20px;
    width: 250px;
}

.info table td {
    width: 200px;
}

.queue {
    overflow-x: auto;
}

.dashboard_content {
    margin-left: 20px;
}

.sessions {
	display: table;
}

.sessions a {
	text-decoration: none;
}

.sessions .session_row {
    display: block;
	clear:both;
	border-bottom: 1px solid black;
	padding: 5px;
}

.sessions .session_row:hover {
	background-color: #404040;
	color: white;
}

.sessions .session_column {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
    border-top: none;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sessions .caption {
	width:auto;
	clear:both;
	border-bottom: 1px solid black;
	padding: 5px;
}

.sessions .caption .session_column {
	font-weight: bold;
}

.sessions .session_column.session_status {
	width: 50px;
    text-align: center;
}

.session_status .status {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.session_status .succeed {
    background-color: #5ba467;
}

.session_status .failed {
    background-color: #ba4549;
}

@-webkit-keyframes pulsing {
    0%   {background: yellow;}
    90%  {background: lightgray;}
    100%  {background: yellow;}
}

@keyframes pulsing {
    0%   {background: yellow;}
    90%  {background: lightgray;}
    100%  {background: yellow;}
}

.session_status .running {
    -webkit-animation: pulsing 2s;
    -webkit-animation-iteration-count: infinite;
    animation: pulsing 2s;
    animation-iteration-count: infinite;
}

.session_status .waiting {
    -webkit-animation: pulsing 2s;
    -webkit-animation-iteration-count: infinite;
    animation: pulsing 2s;
    animation-iteration-count: infinite;
}

.sessions .session_column.session_name {
	width: 300px;
}

.sessions .session_column.session_date {
	width: 200px;
}

.sessions .session_column.session_error {
	width: 400px;
}

.log_steps {
	display: table;
	width: 100%;
}

.log_steps a {
	text-decoration: none;
	color: black;
}

.log_steps .log_step {
	display: block;
	width: auto;
	border-bottom: 1px solid black;
	padding: 5px;
}

.log_steps .log_step .expand:hover {
	background-color: #404040;
	color: white;
}

.log_steps .log_step_column {
	display: inline-block;
	text-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
}

.log_steps .log_step_column.log_request {
	width: 30%;
}

.log_steps .log_step_column.log_body {
	width: 30%;
}

.log_steps .log_step_column.log_screenshot {
	max-width: 300px;
	max-height: 300px;
}

.log_steps .log_step_column.log_screenshot img {
    max-width: 100%;
    height: auto;
}

.log_steps .log_step.error {
	background-color: #ba4549;
}

.log_steps .log_step.success {
	background-color: #5ba467;
}

.log_step_navigation {
    width: 150px;
    text-align: center;
    position: fixed;
}

.log_step_navigation a {
    display: block;
    text-decoration: none;
	color: black;
}

.log_step_navigation a:hover {
	background-color: #404040;
	color: white;
}

#log_step {
    padding: 5px;
    display: table;
    position: relative;
	overflow-y: scroll;
}

#log_step .info {
	padding: 5px;
	border-bottom: 1px solid black;
	width: 100%;
}