._sessions {
	display: table;
}

._sessions a {
	text-decoration: none;
}

._sessions ._session_row {
	display: block;
	width:auto;
	clear:both;
	border-bottom: 1px solid black;
	padding: 5px;
}

._sessions ._session_row:hover {
	background-color: #404040;
	color: white;
}

._sessions ._session_column {
	display: inline-block;
	text-align: left;
}

._sessions ._session_column._session_name {
	width: 300px;
}

._sessions ._session_column._session_date {
	width: auto;
}

._log_steps {
	display: table;
	width: 100%;
}

._log_steps a {
	text-decoration: none;
	color: black;
}

._log_steps ._log_step {
	display: block;
	width: auto;
	border-bottom: 1px solid black;
	padding: 5px;
}

._log_steps ._log_step:hover {
	background-color: #404040;
	color: white;
}

._log_steps ._log_step_column {
	display: inline-block;
	text-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
}

._log_steps ._log_step_column._log_request {
	width: 30%;
}

._log_steps ._log_step_column._log_body {
	width: 30%;
}

._log_steps ._log_step_column._log_screenshot {
	max-width: 300px;
	max-height: 300px;
}

._log_steps ._log_step_column._log_screenshot img {
    max-width: 100%;
    height: auto;
}

._log_steps ._log_step._error {
	background-color: #ba4549;
}

._log_steps ._log_step._success {
	background-color: #5ba467;
}

._log_step_navigation {
    width: 150px;
    text-align: center;
    position: fixed;
}

._log_step_navigation a {
    display: block;
    text-decoration: none;
	color: black;
}

._log_step_navigation a:hover {
	background-color: #404040;
	color: white;
}

#log_step {
    display: table;
    position: relative;
    left: 150px;
	overflow-y: scroll;
}

#log_step ._info {
	padding: 5px;
	font-size: 20px;
	border-bottom: 1px solid black;
}