<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/admin/css/base.css"/>
</head>
    <body>
    {% block content %}
        <h1>Create an account</h1>
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {% for field in form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                    </td>
                    <td>
                        {{ field.help_text }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <input type="submit" value="Register" />
        </form>
        <br>
        <a href=" {% url 'dashboard' %} ">Back to dashboard</a>
    {% endblock %}
    </body>
</html>