<!DOCTYPE html>
<html>
    <head>
        <title>vmmaster dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}libs/bootstrap-3.3.0/css/bootstrap.min.css">
        <script type="text/javascript" charset="utf8" src="{{STATIC_URL}}libs/bootstrap-3.3.0/js/bootstrap.min.js"></script>
        {% load dashboard_tags %}
        <script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
        <script src="{{STATIC_URL}}js/dashboard.js"></script>
        <script src="{{STATIC_URL}}js/session.js"></script>
    </head>
    <body>
        {% block control_panel %}
            {% show_hat user %}
        {% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>