<!DOCTYPE html>
<html>
<head>
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>
    <script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div>
        <form>
            <input name="q" placeholder="session">
            <input type="submit" value="go">
        </form>
    </div>
    {% load dashboard_tags %}
    <div class="main">
        {% show_sessions sessions %}
        <div class="info">
            {% show_platforms platforms %}
            {% show_queue queue %}
        </div>
    </div>
</body>
</html>