{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>

<div class="main" id="s">
    {% load dashboard_tags %}
    <div class="info">
        <form class="navbar-form" role="search" action="{% url 'dashboard' %}" method="get">
            <div class="form-group">
                <input class="form-control" name="q" placeholder="session name">
            </div>
            <button type="submit" class="btn btn-default">find</button>
        </form>
        <div class="user_info" id="user_info"></div>
        <div class="platforms">
            <div id="platform_content">
                <table class="table table-condensed table-striped">
                <caption>platforms</caption>
                </table>
            </div>
        </div>
    </div>
    <div class="dashboard_content">
        <div id="sessions"></div>
    </div>
    {% show_version version %}
</div>


{% load assets %}
{% assets "dashboard_js" %}
    <script type="text/babel" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}