{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="content"></div>
<script src="{% static 'assets/dashboard.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('a').click(function(event){
            event.stopPropagation();
        });

        $('.session_row').click(function(){
            window.document.location = $(this).attr("href");
        });

        $('.session_row').hover(function() {
            $(this).css('cursor','pointer');
        });
    });
</script>
{% endblock %}