<div class="dashboard_content">
    <form class="navbar-form" role="search" action="{% url 'dashboard' %}" method="get">
        <div class="form-group">
            <input class="form-control" name="q" placeholder="session">
        </div>
        <button type="submit" class="btn btn-default">find</button>
    </form>
    <table class="table sessions">
        <thead class="caption">
        <tr>
            <td class="session_column session_status">status</td>
            <td class="session_column session_name">name</td>
            <td class="session_column session_date">date</td>
            <td class="session_column session_error">error</td>
        </tr>
        </thead>
        <tbody>
        {% if sessions %}
            {% load endless %}
            {% load dashboard_filters %}

            {% paginate sessions %}
            {% for session in sessions %}
            <tr class="session_row" href="/session/{{ session.id }}">
                <td class="session_column session_status">
                    <div class="status {{ session.status }}"></div>
                </td>
                <td class="session_column session_name">{{ session.name }}</td>
                <td class="session_column session_date">{{ session.time|timestamp_to_date }}</td>
                <td class="session_column session_error">{{ session.error|filter_error }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% if sessions %}
        {% get_pages %}
        {% if pages.paginated %}
            <ul class="pagination">
                {% load dashboard_tags %}
                {% show_pagination pages %}
            </ul>
        {% endif %}
    {% endif %}
</div>